<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      My Nerd Neighbor
      {% block title %}{% endblock %}
    </title>
    <!-- Load Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <!-- Load our stylesheet -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />


    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://i.etsystatic.com/32630501/r/il/5456f3/3631520225/il_794xN.3631520225_jh58.jpg" alt="/"  width="50" height="50" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand mb-0 h1" href="/">My Nerd Neighbor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Neighborhood
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/neighbor">Neighborpage</a></li>
                
                <li><a class="dropdown-item" href="/neighborlibrary">Library</a></li>
                <li><a class="dropdown-item" href="#">???</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/move">move my neighbor</a></li>
              </ul>
              
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/user_profile">bookshelf</a></li>
                <li><a class="dropdown-item" href="#">book tracker</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">log out</a></li>
              </ul>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user_profile">My profile</a>
            </li>
          </ul>
          
          <form method = "GET" action = "/search" class="d-flex" role="search">
            <input id="s_key" name = "keyword" class="form-control me-2" type="text" placeholder="keyword" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Boogle</button>
          
          </form>
        </div>
      </div>
    </nav>

    
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
    <script src="/static/js/savebook.js"></script>
    <script src="/static/js/remove_book.js"></script>
    <script src="/static/js/book_traking.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>
</html>