{% extends 'base.html' %}
{% block title %}Boogle-MyNerdNeighbor{% endblock %}

{% block body %}

  
<div style = "text-align: right;">
  {%if user is not none%}
    <a href="/user_profile/">View your own page</a>
  {%endif%}
  <a href="/">Back to the homepage</a>
</div>
  
<form method = "GET" class = "container" action ="/search" style = "text-align: center">
<h1>Boogle 2.0</h1>

<lable>search the book you want:</lable><br>
<div>
<input id="s_key" class="form-control form-control-sm" type="text" placeholder="keyword : title/author/year" name = "keyword">
<button type="submit" class="btn btn-dark btn-sm">Boogle</button>

</div>

<!-- {{payload}} -->



<div id="results" class = "container">
<h4>Results: we found {{data.totalItems}} results about "{{keyword}}"</h4>
    {%for book in data['items']%}
    <div class = "row bookContainer" style = "margin-top: 30px ;">

            
        <a href= "/book/{{book.id}}" class = 'col-4 col-md-3 col-lg-2 col-md-xl-1 book_path'>
            {%if 'imageLinks' in book['volumeInfo']%}
                <img class="book_img" src="{{book.volumeInfo.imageLinks.thumbnail}}" width="128" height="182">
            {%else%}
            <img class="book_img" src="https://icon-library.com/images/book-icon-png/book-icon-png-28.jpg" width = "138" height="172">
            {%endif%}
        </a>
        
        
        <div class = 'col-8 col-md-9 col-lg-10 col-md-xl-11 bookinfo'style = "text-align:left">
            <div class = "title_group">
                <a class="book_title" href="{{book.volumeInfo.infoLink}}" target="_Blank">{{book.volumeInfo.title}}</a>
                {%if 'publishedDate' in book['volumeInfo']%}
                    ({{book.volumeInfo.publishedDate}})  
                {%endif%}
                {%if 'subtitle' in book['volumeInfo']%}
                    <div>{{book.volumeInfo.subtitle}}</div>
                {%endif%}
            </div>
                {%if 'authors' in book['volumeInfo']%}
                <div class ="author">
                    by: 
                    {%for author in book.volumeInfo.authors%}
                    <span class="badge text-bg-primary">{{author}}</span>
                    {%endfor%}
                   </div><br>
                {%endif%}

                <div class="model_set">
                    <!-- Model button -->
                    <button type="button" class="btn btn-dark add_book_btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="own" value ={{book.id}}> Add to my bookshelf</button>                    
                    <button type="button" class="btn btn-secondary to_read_btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="toread" value ={{book.id}}>to read</button>
                    <button type="button" class="btn btn-secondary reading_btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="reading" value ={{book.id}}>reading</button>
                    <button type="button" class="btn btn-secondary have_read_btn btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="haveread" value ={{book.id}}>have read</button>
                    <!-- Model box -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Keep book on track</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group" id="status">
                                        <label for="recipient-name" class="col-form-label">Status:</label>
                                        <input id="own" type="radio" name="status" value=3>
                                        <label>I own this book</label>

                                        <input id="toread" type="radio" name="status" value=2>
                                        <label>to read</label>
                        
                                        <input id="reading" type="radio" name="status" value=1>
                                        <label>reading</label>
                        
                                        <input id="haveread" type="radio" name="status" value=0>
                                        <label>have read</label>
                                    </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Leave commnet or add some notes:</label>
                                    <textarea class="form-control" id="note-text"></textarea>
                                </div>
                                </form>
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary submit" data-bs-dismiss="modal" id="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                  
                    {%if 'description' in book['volumeInfo']%}
                    <div class = ellip-block>Description:{{book.volumeInfo.description}}</div>
                    {%endif%}
                
        </div>
        </div>
  
        ==========================================================================================
    {%endfor%}
 
    
    
    </div>
</div>



{% endblock %}