{% extends 'base.html' %}
{% block title %}Boogle-MyNerdNeighbor{% endblock %}

{% block body %}
<!-- <title>Boogle</title> -->
<div class="container" style="margin-top: 150px;margin-bottom: 150px;">
    <label for="book_uploader"><H3>Upload an new book to MNN's database!</H3></label>
    <form id="book_uploader" action="/pro_upload2" method="post" enctype="multipart/form-data" style="margin-top: 50px;">
    <div class="mb-3">
      <label for="title" class="form-label">Book title</label>
      <input type="title" class="form-control" name="title" aria-describedby="titleHelp">
      <div id="titleHelp" class="form-text">What's your book's name?</div>
    </div>
    <div class="mb-3">
      <label for="authors" class="form-label">Author</label>
      <input type="author" class="form-control" name="authors">
    </div>
    <div class="mb-3">
        <label for="time" class="form-label">Publish Time</label>
        <input type="year" class="form-control" name="time">
    </div>
    <div class="mb-3">
        <label for="publisher" class="form-label">Publisher</label>
        <input type="publisher" class="form-control" name="publisher">
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Upload a book cover<small class="text-muted">    you have to upload a cover here, you can google one!</small></label>
        <input class="form-control" type="file" name = "my_file" id="formFile">
      </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label for="book_des">Description:</label>
        <textarea class="form-control" id="book_des" name="des" rows="10"></textarea>
      </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>




<script src="/static/js/savebook.js"></script>
<script src="/static/js/booksearch.js"></script>

{% endblock %}