{% extends 'base.html' %}
{% block title %}My Nerd Neighbor{% endblock %}

{% block body %}
  <h1>Welcome My Nerd Neighbor!</h1>

  <h2></h2>
  <ul>
    <a href="/boogle2">Find a book in Boogle!</a></li>
  </ul>
  <ul>
    <a href="/user_profile">Go to your homepage</a></li>
  </ul> 




{%if "user_id" not in session%}
  <div id = register>
  <h2>Create an Account</h2>
  <form action="/register" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Username <input type="name" name="name">
    </p>

    <p>
      Zipcode <input type="zipcode" name="zipcode">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
</div>

<div id = login>
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
</div>
{%endif%}
{% endblock %}