{% extends 'base.html' %}
{% block title %}My Nerd Neighbor{% endblock %}

{% block body %}
<div style = "text-align: right;">
  <a href="/logout">logout</a>
</div>

  <div style = "text-align: center;">
    <img  src="/static/pic/My nerd neighbor.png">
      
        
        <!-- <img src ="https://cdn.dribbble.com/users/1044993/screenshots/5564939/media/7f2fd62c5832ca4558d6aefe3a7dc1c3.png"width = "300" height="300"> -->



        <h2></h2>
        <ul>
          <a href="/boogle2">Find a book in Boogle!</a></li>
        </ul>
        <ul>
          <a href="/user_profile">Go to your own page</a></li>
        </ul> 
        <ul>
          <a href="/neighborlibrary">Go to your neighbor library</a></li>
        </ul> 
        <ul>
          <a href="/neighbor">Go to your neighborbood page</a></li>
        </ul> 
        <ul>
          <a href="/upload">Upload a new book</a></li>
        </ul>
        <ul>
          <a href="/login_page">log In</a></li>
          <a href="/register">Sign up</a></li>

        </ul>
  </div>
  <div id='map' style='width: 400px; height: 300px;'></div>
<!-- <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZ2luZ2VyZHVhbiIsImEiOiJjbDNjb2FxdHUwMGdkM2xvYzRmYmtvMWs5In0.A5gjtoYp8bieQkt6rk9Erg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
</script> -->
<!-- <iframe width='100%' height='700px' src="https://api.mapbox.com/styles/v1/gingerduan/cl3nhrh0i000214lkhnhho7l4/draft.html?title=false&access_token=pk.eyJ1IjoiZ2luZ2VyZHVhbiIsImEiOiJjbDNjb2FxdHUwMGdkM2xvYzRmYmtvMWs5In0.A5gjtoYp8bieQkt6rk9Erg&zoomwheel=false#12/48.8665/2.3176" title="Basic" style="border:none;"></iframe> -->


{%if "user_id" not in session%}
  
{%endif%}


{% endblock %}