{% extends 'base.html' %}
{% block title %}Boogle-MyNerdNeighbor{% endblock %}

{% block body %}

  
<div style = "text-align: right;">
  {%if user is not none%}
    <a href="/user_profile/">View your own page</a>
  {%endif%}
  <a href="/">Back to the homepage</a>
</div>
  
<form method = "GET" action ="/neighbor_search" style = "text-align: center">
<h1>Boogle neighbor1.0</h1>

<lable>search the book you want:</lable><br>
<div>
<input id="s_key" type = "text" placeholder="Keyword" name = "keyword" style="width:500px; height:25px;font-size:12pt;">
</div>

<input type = "submit" value = "Boogle" class = "btn_primary">
</div>
</form>


<div id="results" class = "container">
  <h4>There are {{neighbor_num}} nerds in your neighbor {{user.zipcode}}</h4>
    <div>
      {%for zipuser in zipusers%}
      <div>{{zipuser.name}}</div>
      {%endfor%}
    </div>


  =============================================================<br>
  <!-- {{putings}} -->
  <!-- ##############################################################<br> -->
  <div>
    {%for puting in putings%}
      <div>{{puting.shelf.user.name}} put {{puting.book.title}} at {{puting.time}}</div>
    
    {% endfor %}
  </div>
</div>


{% endblock %}