{% extends 'base.html' %}
{% block title %}Boogle-MyNerdNeighbor{% endblock %}

{% block body %}
<!-- <title>Boogle</title> -->
  
<div>
  <form method = "GET" id ="nei_search" action ="/neighbor_search" style = "text-align: center; margin-top: 120px; margin-bottom: 50px;">

      <img src="/static/pic/Boogle.png" width = "300" height="150">   neighborhood3.0
      
      <p><lable>search the book from your neighborhood:</lable></p>
      <div>
      <input id="sss_key" type = "text" placeholder="Keyword" name = "keyword" style="width:500px; height:25px;font-size:12pt;">
      </div>

  <input id=“nei_btn” type = "submit" value = "Boogle" class = "btn_primary">

  </form>
</div>

<!-- <form id ="nei_search" method = "GET" action ="/neighbor_search" style = "text-align: center">
  <h1>Boogle neighbor1.0</h1>
  
  <label>search the book you want:</label><br>
    
      <input id="sss_key" name = "keyword" style="width:500px; height:25px;font-size:12pt;">
    
    
      <input id=“nei_btn” type = "submit" value = "Boogle" class = "btn btn-secondary">
  </div>
</form> -->


<h2 style = "text-align: center;">{{user.name}}'s neighbor</h2>
<div id="bookshelf" style = "margin: 70px" width="800" height="400">
  

  <div id="results" class = "container">
    <h4>There are {{putings|length}} books in your  {{user.zipcode}} neighborhood library</h4>
     
    <h4 style = "height:150">Your neighbor's share library</h4>
    <div class="row">
    
    <div class="col-8">
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4" style="min-width: 7rem;">
        {%for puting in putings %}
        <div class="col " id ={{puting.puting_id}}>
        
          <div class="card w-100" >
            {%if puting.book.googlebook_id == None%}
              <a href= "/book/{{puting.book.book_id}}" style="min-width: 8rem;">
            {%else%}
              <a href= "/book/{{puting.book.googlebook_id}}" style="min-width: 8rem;">
            {%endif%}
      
            {%if puting.book.cover != None %}
              <img class="book_img card-img-top" src="{{puting.book.cover}}" width="128" height="182">
            {%else%}
              <img class="book_img card-img-top" src="https://cdn.pixabay.com/photo/2014/04/02/16/21/book-307045_960_720.png">
            {%endif%}
                  </a>
            <!-- <img src="{{puting.book.cover}}" class="card-img-top" alt="..."> -->
            
          </div>  
         <div class="card-body">
              <p class="card-text" style="font-size : 14px";>{{puting.book.title}}</p>
              <div>
                <button type="button" class="btn btn-outline-dark remove_book_btn btn-sm" value ={{puting.puting_id}}>remove</button>
              </div>
              <p class="card-text"></p>
            </div>
        </div>
        {%endfor%}
      </div>
</div>

<div id="n_results" class="col-4 card text-white" style="background-color: #3D405B; padding: 15px;">put search results here:</div> 


</div>


</div>
</div>



<!-- <script src="/static/js/user_page.js"></script> -->
{% endblock %}