{% extends 'base.html' %}
{% block title %}Boogle-MyNerdNeighbor{% endblock %}

{% block body %}
<!-- <title>Boogle</title> -->
  
<div style = "text-align: right;">
  <a href="/boogle2">Search the book you want</a>
  <a href="/">Back to my homepage</a>
  <a href="/logout">logout</a>
</div>

<form method = "GET" action ="/search" style = "text-align: right">
  <lable>search the book in your shelf:</lable><br>
  <input id="my-text" type = "text" name = "keyword" placeholder="Book/Author/Year">
  <button id="btn">Boogle</button>
</form>


<h1 style = "text-align: center;">{{user.name}}'s neighbor</h1>
<div id="bookshelf" style = "margin: 70px" width="800" height="400">
  
  <h4>There are {{neighbor_num}} nerds in your neighbor {{user.zipcode}}</h4>
  =======================================================
  <div id="results" class = "container">
    {%for user in zipusers%}
    <div>{{user.name}}</div>
    <div>{{user.email}}</div> 
    {% endfor %}
  </div>

    <h4 style = "height:150">Your neighbor's share library</h4>
      <div id="results" class = "container">
      <div class = "row">
      {%for book in books%}
        
          <div class = "col-6 col-md-4 col-lg-3 col-xl-2 "id ={{book.book_id}} style = "margin-bottom: 10px ;">
            <img class="book_img" src="{{book.cover}}" width="128" height="182">
            <div>
              <i type="button" class="bi bi-bookmark-x" value ={{book.book_id}}></i>
            <button type="button"  class = "remove_book_btn" value ={{book.book_id}}>remove</button>
            </div>
            <div>{{book.title}}</div>
          </div>
        
      {% endfor %}
      </div>
  </div>
 
</div>



<!-- <script src="/static/js/user_page.js"></script> -->
{% endblock %}