{% extends 'base.html' %}
{% block title %}Boogle-MyNerdNeighbor{% endblock %}

{% block body %}
<!-- <title>Boogle</title> -->
  
<div style = "text-align: right;">
  <a href="/boogle2">Search the book you want</a>
  <a href="/">Back to my homepage</a>
  <a href="/logout">logout</a>
</div>

<form method = "GET" action ="/search" style = "text-align: right">
  <lable>search the book in your shelf:</lable><br>
  <input id="my-text" type = "text" name = "keyword" placeholder="Book/Author/Year">
  <button id="btn">Boogle</button>
</form>


<h1 style = "text-align: center;">{{user.name}}'s Book Zone</h1>
<div id="bookshelf" style = "margin: 70px" width="800" height="400">
  <h3>You are live in {{user.zipcode}} neighbor</h3>
  <h3>There are {balalal} books in your bookshelf</h3>
  =======================================================
  <div id="results" style = "margin: 20px" width="750" height="400">
    {%for booklist in bookshelves%}
    <div style = "height:150">{{booklist.name}}</div>
      <!-- {%for booklist in bookshelves%}
      <div>{{booklist.name}}</div> -->
      
      <!-- {% endfor %} -->
    {% endfor %}
  </div>
 
</div>



<!-- <script src="/static/js/user_page.js"></script> -->
{% endblock %}