{% extends 'base.html' %}
{% block title %}Boogle-MyNerdNeighbor{% endblock %}

{% block body %}
<!-- <title>Boogle</title> -->


<h1 style = "text-align: center;">{{user.name}}'s library</h1>
<div id="bookshelf" style = "margin: 70px" width="800" height="400">
  <h3>You are live in {{user.zipcode}} neighborhood</h3>
 
  =======================================================
  <div id="results" class = "container">
    

<!-- books in cards -->
{%for bookshelf in bookshelves %}
  <div class="row shelf">  
    <h3>***{{bookshelf.name}}</h3>
    <h4>There are {{bookshelf.puting|length}} books in your bookshelf</h4>
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 row-cols-xl-8 g-4">
  {%for puting in bookshelf.puting|reverse  %}
  <div class="col " id ={{puting.puting_id}}>
  
    <div class="card w-100" style="max-width: 8rem;">
      {%if puting.book.googlebook_id == None%}
        <a href= "/book/{{puting.book.book_id}}">
      {%else%}
        <a href= "/book/{{puting.book.googlebook_id}}">
      {%endif%}

      {%if puting.book.cover != None %}
        <img class="book_img card-img-top" src="{{puting.book.cover}}" width="128" height="182">
      {%else%}
        <img class="book_img card-img-top" src="https://icon-library.com/images/book-icon-png/book-icon-png-28.jpg">
      {%endif%}
            </a>
      <!-- <img src="{{puting.book.cover}}" class="card-img-top" alt="..."> -->
      
    </div>  
   <div class="card-body">
        <p class="card-text" style="font-size : 14px";>{{puting.book.title}}</p>
        <div>
          <button type="button" class="btn btn-outline-dark remove_book_btn btn-sm" value ={{puting.puting_id}}>remove</button>
        </div>
        <p class="card-text"></p>
      </div>
  </div>
  {%endfor%}
</div>
  </div>
{%endfor%}




  </div>
 
</div>


<!-- Testing2 -->


<!-- <script src="/static/js/user_page.js"></script> -->
{% endblock %}